h1{
 padding-left: 10px;
 color: var(--home-title);
}
.rectangle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    background-color: var(--clear-white);
    padding: 10px;
    width: 60%;
    border-radius:20px ;
    position: relative;
    margin: 135px auto;
}
.Nom{

    color: var(--blue);
    flex-direction: column;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    margin-top: -10px;
    margin-left: 20px;
}
.nombre{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top:-10px;
    color: var(--blue);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.Secteur{
    margin-top: -10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: var(--blue);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
.Confidence{
    margin-top: -10px;
    color: var(--blue);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.Adresse{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: -10px;
    margin-left: 20px;
    color: var(--blue);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}
.button{
    padding-left:20% ;
    color: var(--blue);
    grid-column-start: 2;
    grid-row-start: 4;
}

.Cform{
    display:flex;
    flex-direction: column;
    width: 300px;
    height: 35px;
    line-height: 28px;
    border: 2px solid transparent;
    border-radius: 20px;
    outline: none;
    color: var(--text-color);
    background-color: var(--white);
    transition: .3s ease;
    margin-top: 10px;
    padding: 0 1rem 0 1rem;
}
#Adr2 , #Adr1{
    margin-top: 10px;
}
.test{
    background-color:var(--blue) ;
    color: var(--clear-white);
    border-radius: 10px;
    width:50% ;
    height: 20px;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}