#title {
    top: 35%;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 0;
    user-select: none;
    display: flex;
    justify-content: center;
}

#title span.title{
    color: #3963AD;
    width: 500px;
    font-size: 50px;
    position: absolute;
    text-align: center;
    font-weight: 900;
}

#title span.title span{
    margin: 0 -5px;
}

#title span.title span:nth-child(1){
    color: #3963AD;
}

#title span.title span:nth-child(2){
    color: #0d3e4c;
}

#title p{
    color: #3963AD;
    height: 150px;
    width: 500px;
    font-style: italic;
    position: absolute;
    top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.navbar{
    color: #3963AD;
    font-size : 50px;
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 30px 100px 0 0;
}

.navbar ion-icon{
    margin: 10px 0 0 30px;
}

.searchbar {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: absolute;
    top:115px;
    justify-content: center;
    max-width: 190px;
}

.searchbar svg {
    position: absolute;
    fill: #146B8A;
    width: 1rem;
    height: 1rem;
    left: -20%;
}

.searchbar input {
    width: 300px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem 0 2.5rem;
    border: 2px solid transparent;
    border-radius: 20px;
    outline: none;
    color: #0d0c22;
    transition: .3s ease
}

.searchbar input::placeholder {
    color: #146B8A;
}

.searchbar input:focus, input:hover {
    outline: none;
    color: #007DAB;
    background-color: #fff;
}