.box-categorie{
    position: relative;
    width: 70%;
    height: 66px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.categorie button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #fff;
    color: #3963AD;
    border: 2px solid #3963AD;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.1s;
}

.categorie button:hover {
    background-color: #3963AD;
    color: #fff;
}

.box-stage{
    position: relative;
    width: 70%;
    height: 2200px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
}

.stage {
    position: absolute;
    width: 85%;
    margin: 25px auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.stage .title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.stage .description {
    font-size: 16px;
    text-align : justify;
}

.stage .apply-button {
    padding: 10px 20px;
    background-color: #3963AD;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.stage .apply-button:hover {
    background-color: #2f4a8c;
}

.stage .like-icon {
    font-size: 80px;
    color: #999;
    margin: 20px;
}

.stage .stars-icon {
    color: #999;
}