@import "element/burger/burger.css";

body, html{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: 'Corbel', sans-serif;
}

ion-icon{
    pointer-events: none;
}

#tl1{
    position: absolute;
    transform: rotate(180deg);
    top: 0;
    user-select: none;
}

#tl2{
    position: absolute;
    top: 0;
    left:175px;
    user-select: none;
}

#br1{
    position: absolute;
    bottom: 0;
    right: 0;
    user-select: none;
}

#br2{
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    right: 180px;
    user-select: none;
}

#tr1{
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
}

#tr2{
    position: absolute;
    top: 120px;
    right: 0;
    user-select: none;
}

#tr3{
    position: absolute;
    top: 0;
    right: 455px;
    user-select: none;
}

#bl1{
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
    user-select: none;
}

#bl2{
    position: absolute;
    transform: rotate(180deg);
    bottom: 120px;
    left: 0;
    user-select: none;
}

#bl3{
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    left: 455px;
    user-select: none;
}
