#title {
    top: 35%;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 0;
    user-select: none;
    display: flex;
    justify-content: center;
}

#title span.title{
    color: var(--blue);
    width: 90vw;
    font-size: 50px;
    position: absolute;
    text-align: center;
    font-weight: 900;
}

#title span.title span{
    margin: 0 -5px;
}

#title span.title span:nth-child(1){
    color: var(--blue);
}

#title span.title span:nth-child(2){
    color: var(--home-title);
}

#title p{
    color: var(--blue);
    font-style: italic;
    position: absolute;
    top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.searchbar {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: absolute;
    top:115px;
    justify-content: center;
    max-width: 190px;
}

.searchbar svg {
    position: absolute;
    fill: var(--blue);
    width: 1rem;
    height: 1rem;
    left: -20%;
}

.searchbar input {
    width: 300px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem 0 2.5rem;
    border: 2px solid transparent;
    border-radius: 20px;
    outline: none;
    color: var(--text-color);
    transition: .3s ease
}

.searchbar input::placeholder {
    color: var(--blue);
}

.searchbar input:focus, input:hover {
    outline: none;
    color: var(--blue);
}

.nav-searchbar{
    display :none;
}