.rectangle{
    position: relative;
    width: 60%;
    height: auto;
    margin: 120px auto 0 auto;
    background-color: var(--clear-white);
    border-radius: 20px;
    padding: 40px;
}
.rectangle h1 {
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
    text-align: justify;
}
.rectangle label {
    font-weight: 700;
    margin-left: 40px;
    margin-top: 15px;
    text-align: justify;
}
p {
    margin-left: 5px;
    text-align: justify;
}
.rectangle a {
    display: flex;
    align-content: center;
    justify-content: center;
}