.rectangle h1{
 padding-left: 10px;
 color: var(--home-title);
}

.rectangle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--clear-white);
    grid-gap: 30px;
    padding: 40px;
    width: 60%;
    border-radius:20px ;
    position: relative;
    margin: 135px auto;
}

.rectangle label{
    color: var(--blue);
}

.Cform{
    display:flex;
    flex-direction: column;
    width: 80%;
    height: 35px;
    border: 2px solid transparent;
    border-radius: 20px;
    color: var(--text-color);
    background-color: var(--input-bg);
    transition: .3s ease;
    padding: 0 1rem 0 1rem;
}

.Cform:focus{
    transition: .3s;
    border: 2px solid var(--blue);
    outline: none;
}

#adresseBox{
    margin-top: -20px;
}

.adresse{
    display:flex;
    flex-direction: column;
    width: 80%;
    height: 35px;
    border: 2px solid transparent;
    border-radius: 20px;
    color: var(--text-color);
    background-color: var(--input-bg);
    transition: .3s ease;
    padding: 0 1rem 0 1rem;
    margin-top: 2px;
}

.adresse:focus{
    transition: .3s;
    border: 2px solid var(--blue);
    outline: none;
}

.button{
    display: flex;
    justify-content: center;
    color: var(--blue);
}

.Cbutton{
    background-color:var(--blue) ;
    color: var(--clear-white);
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px 50px;
    height: 50px;
}

.rating {
    transform: rotateY(180deg);
    display: inline-block;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    display: inline-block;
    font-size: 40px;
    color: var(--input-bg);
    cursor: pointer;
    transform: scaleX(-1);
}

.rating label:hover,
.rating label:hover ~ label,
.rating input[type="radio"]:checked ~ label {
    color: var(--orange);
}

.iconAdr{
    padding-left: 20px;
    font-size: 20px;
    color: var(--blue);
    cursor: pointer;
}

.addAdr{
    background: none;
    border: none;
    color: var(--blue);
    font-size: 20px;
    cursor: pointer;
}



.error{
    border: red 2px solid;
}

@media screen and (max-width: 768px){
    .rating label {
        font-size: 20px;
    }
}
.navbarc {
    display:flex;
    flex-direction: row;
    align-items: end;
    width: 80%;
    height: 5px;
    margin-left: 50%;
    color: var(--blue);
    font-size: 40px;
    z-index: 997;
    padding: 40px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
    grid-column: 2;
    grid-row: 1;

}
.navbarc ion-icon {
    margin-right: 10px; /* Espacement entre les icônes */
    color: var(--blue);
}

@media (max-width: 768px){
    .rectangle{
        width: 100%;
        display: block;
    }
    .button{
        margin-top: -40px;
        display: block;
        margin-left: 50%;
        transform: translateX(-40%);
    }
}