.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--blue);
    font-size: 50px;
    width: 100%;
    position: fixed;
    z-index: 997;
    top: 0;
    padding: 40px;
    margin-left: auto;
    transition: background-color 0.3s ease-in-out;
}

.navbar.navbar-scroll {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--clear-white);
    background-color: var(--blue);
    font-size: 50px;
    width: 100%;
    position: fixed;
    z-index: 997;
    top: 0;
    padding: 40px;
    margin-left: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.icon-group {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Espacement entre les icônes et le bloc d'info utilisateur */
}

.icon-group ion-icon {
    color: var(--blue);
    margin-right: 10px; /* Espacement entre les icônes */
}

.username {
    font-size: 1.5rem;
    user-select: none;
    margin-right: 40px;
    margin-top: -15px;
}

.navbar-scroll .username a {
    color: var(--clear-white);
}

.username a{
    color: var(--blue);
    text-decoration: none;
}

.username a:hover{
    text-decoration: underline;
}

.navbar a:visited{
    color: var(--blue);
}

.navbar-scroll a:visited {
    color: var(--clear-white);
}

.nav-searchbar {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    justify-content: center;
    max-width: 190px;
    margin-top: -15px;
    margin-right: 75px;
}

.nav-searchbar svg {
    position: absolute;
    fill: var(--blue);
    width: 1rem;
    height: 1rem;
    left: -20%;
    margin-top: 5px;
}

.nav-searchbar input {
    width: 300px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem 0 2.5rem;
    border: 2px solid transparent;
    border-radius: 20px;
    outline: none;
    color: var(--text-color);
    transition: .3s ease
}

.nav-searchbar input::placeholder {
    color: var(--blue);
}

.nav-searchbar input:focus, input:hover {
    outline: none;
    color: var(--blue);
    background-color: var(--clear-white);
}

@media screen and (max-width: 520px) {
    .navbar{
        display: none;
    }
}

@media screen and (max-width: 815px) {
    .nav-searchbar {
        display: none;
    }
}