.box-categorie{
    position: relative;
    width: 70%;
    height: 66px;
    margin: 150px auto 50px auto;
    background-color: var(--clear-white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.box-categorie.box-categorie-scroll{
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    margin-top: 140px;
}

.box-stage.box-stage-scroll{
    margin-top: 266px;
}

.categorie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.categorie button{
    display: inline-block;
    padding: 10px 24px;
    background-color: var(--clear-white);
    color: var(--blue);
    border: 1.8px solid var(--blue);
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.1s;
}

.categorie button:hover {
    background-color: var(--blue);
    color: var(--clear-white);
}

.result{
    display: flex;
    flex-direction: column;
}

.titlebox {
    font-weight: bold;
    margin: 40px 0 0 40px;
}

.box-stage{
    position: relative;
    width: 70%;
    margin: auto 15% 50px auto;
    background-color: var(--clear-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.bas-boxstage{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.stage {
    position: relative;
    width: 85%;
    height: 160px;
    margin: 25px auto;
    background-color: var(--light-gray);
    padding: 20px;
    border-radius: 20px;
}

.stage .title {
    width: 450px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 20px;
}

.stage .description {
    font-size: 16px;
    text-align : justify;
    margin-bottom: 20px;
}

.stage .apply-button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: fit-content;
}

.stage .apply-button:hover {
    background-color: var(--dark-blue);
}

.stage .like-icon {
    font-size: 20px;
    color: var(--blue);
    margin: 20px;
}

.stage .stars-icon {
    font-size: 16px;
    color: #F88459;
}

.box-personne{
    position: relative;
    width: 70%;
    margin: auto 15% 50px auto;
    background-color: var(--clear-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.personne {
    position: relative;
    width: 85%;
    margin: 25px auto;
    background-color: var(--light-gray);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.personne .icon{
    font-size: 20px;
    align-items: center;
    display: flex;
}

.personne .delete-icon{
    color:darkred;
}

.personne .edit-icon{
    color:var(--blue);
}

.group-likeapply{
    display: flex;
    align-items: center;
}

.confiance{
    color: black;
    margin-bottom: 10px;
}

.box-entreprise{
    position: relative;
    width: 70%;
    margin: auto 15% 50px auto;
    background-color: var(--clear-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.entreprise {
    position: relative;
    width: 85%;
    /* height: 160px; */
    margin: 25px auto;
    background-color: var(--light-gray);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.entreprise .icon{
    font-size: 20px;
    align-items: center;
    display: flex;
}

.entreprise .edit-icon{
    color:var(--blue);
}

.stats-button{
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 15px;
}