/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 998;
    top: 0;
    left: -300px;
    background-color: var(--sidenav-bg);
    padding-top: 50px;
    transition: left 0.5s ease;
    user-select: none;
}

.sidenav ul.down{
    width: 300px;
    position: fixed;
    bottom: 1vh;
}

/* Sidenav menu links */
.sidenav a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--clear-white);
    display: block;
    transition: 0.3s;
    background-color: var(--dark-blue);
    margin: 5px 10px;
    border-radius: 5px;
}

.sidenav a ion-icon {
    margin-bottom: -5px;
    margin-right: 10px;
}

.sidenav a:hover {
    color: #fff;
    background-color: rgb(30, 61, 114, 0.5);
}

.sidenav ul {
    list-style-type: none;
    padding: 50px 0 0 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger {
    position: fixed;
    left: 43px;
    top: 37px;
    transform: scale(0.65);
    height: 65px;
    cursor: pointer;
    z-index: 999;
}

.burger1,
.burger2,
.burger3 {
    height: 10px;
    width: 70px;
    background: var(--clear-white);
    border-radius: 10px;
    transition: 0.5s;
}

.burger2 {
    transform: translateY(15px);
}

.burger3 {
    transform: translateY(30px);
}

.burger1-animation {
    animation: first-line 0.7s forwards;
}

.burger2-animation {
    animation: second-line 0.7s forwards;
}

.burger3-animation {
    animation: third-line 0.7s forwards;
}

@keyframes first-line {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(25px) rotate(45deg);
    }
}

@keyframes second-line {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes third-line {
    0% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(5px) rotate(-45deg);
    }
}

.burger1-no-animation {
    animation: first-line-return 0.7s forwards;
}

.burger2-no-animation {
    animation: second-line-return 0.7s forwards;
}

.burger3-no-animation {
    animation: third-line-return 0.7s forwards;
}

@keyframes first-line-return {
    0% {
        transform: translateY(25px) rotate(45deg);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes second-line-return {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes third-line-return {
    0% {
        transform: translateY(5px) rotate(-45deg);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(30px);
    }
}

@media screen and (max-width:1200px){
    .burger1,
    .burger2,
    .burger3 {
        background: var(--blue);
    }
}

@media screen and (max-width: 520px) {
    .sidenav {
        width: 75%;
        left:-100vw;
    }
    .sidenav ul{
        width: 100%;
    }
    .sidenav a {
        font-size: 18px;
    }
    .sidenav ul.down{
        width: 100%;
        position: unset;
    }
    .sidenav-box {
        background-color: var(--blue);
        width: 100%;
        height: 65px;
        display: flex;
        position: fixed;
        z-index: 999;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }

    .burger1,
    .burger2,
    .burger3 {
        background: var(--clear-white);
    }

    .burger {
        left: 10px;
        top: 3px;
        transform: scale(0.5);
    }

    #title-navbar {
        top: 35%;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 0;
        user-select: none;
        display: flex;
        justify-content: center;
    }

    .title-navbar{
        display: block;
    }

    #title-navbar span.title-navbar{
        color: var(--clear-white);
        width: 90vw;
        font-size: 30px;
        position: fixed;
        text-align: center;
        font-weight: 750;
        top: 2.5%;
    }

    #title-navbar span.title-navbar span{
        margin: 0 -2.5px;
    }

    #title-navbar span.title-navbar span:nth-child(1){
        color: var(--clear-white);
    }

    #title-navbar span.title-navbar span:nth-child(2){
        color: var(--home-title);
    }

    .title-navbar {
        display: block !important;
    }
}