@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;900&display=swap');
@import "navbar.css";
@import "sidenav.css";

:root{
    --clear-white: #FFFFFF;
    --white: #f2f3fd;
    --blue: #3963AD;
    --dark-blue: #1E3D72;
    --light-gray: #FBFBFB;
    --gray: #515151;
    --home-title: #0D3E4C;
    --text-color: #0D0C22;
    --sidenav-bg: #041737;
    --input-bg: #eaeaea;
    --orange: #ffa41c;
}

body, html{
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

ion-icon{
    pointer-events: none;
}

::selection{
    background-color: var(--blue);
    color: var(--clear-white);
}

#tl1{
    position: absolute;
    transform: rotate(180deg);
    top: 0;
    left: -1px;
    user-select: none;
    z-index: 1;
}

#tl2{
    position: absolute;
    top: 0;
    left:175px;
    user-select: none;
    z-index: 0;
}

#br1{
    position: absolute;
    bottom: 0;
    right: -1px;
    user-select: none;
    z-index: 1;
}

#br2{
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    right: 178px;
    user-select: none;
    z-index: 0;
}

#tr1{
    position: absolute;
    top: 0;
    right: -1px;
    user-select: none;
    z-index: 1;
}

#tr2{
    position: absolute;
    top: 120px;
    right: -1px;
    user-select: none;
    z-index: 0;
}

#tr3{
    position: absolute;
    top: 0;
    right: 455px;
    user-select: none;
    z-index: 0;
}

#bl1{
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    left: -1px;
    user-select: none;
    z-index: 1;
}

#bl2{
    position: absolute;
    transform: rotate(180deg);
    bottom: 120px;
    left: -1px;
    user-select: none;
    z-index: 0;
}

#bl3{
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    left: 455px;
    user-select: none;
    z-index: 0;
}

@media (max-width: 768px ) {
    #tl1{
        display: none;
    }
    #tl2{
        display: none;
    }
    #br1{
        display: none;
    }
    #br2{
        display: none;
    }
    #tr1{
        display: none;
    }
    #tr2{
        display: none;
    }
    #tr3{
        display: none;
    }
    #bl1{
        display: none;
    }
    #bl2{
        display: none;
    }
    #bl3{
        display: none;
    }
    body{
    background-color: var(--clear-white);}
}